body{
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
    font-family: sans-serif;
}


/* ------------YOU CAN CENTER ANYTHING WITH THIS:
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
---------------- */
.loginBox{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}

.loginBox h1{
    border-bottom: #4DAF00 5px solid;
    float: left;
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
    padding: 13px 0;
}

.txtBox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: #4DAF00 1px solid;
}

.txtBox input{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 0 10px;
}

.btnSubmit{
    width: 100%;
    background: none;
    border: 2px solid #4DAF00;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
}

