/*  
    colors used: 
    7E7E7E -> buttons:grey
    1c1c1c -> box shadow(nav, sidebar):black
    3b3b3b -> whole background color:lightblack
    ffffff -> text color for eye catch:white
    cccccc -> inactive text:grey 
    b3b2b2 -> placeholder text:lightgrey
    4DAF00 -> active text and buttons:green
    969696 -> sidebar line:grey
 */


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    background-color: #3b3b3b;
    color: #ccc;
}
a{
    text-decoration: none;
    color: #fff;
}
body::-webkit-scrollbar {
    display: none;
}

/* images */
img{
    cursor: pointer;   
}

.flex-div{
    display: flex;
    align-items: center;
}


/* navigation bar */
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 5px #1c1c1c;
    background-color: #3b3b3b;
    position: sticky;
    top: 0;
    z-index: 101;
    height: 70px;
}

.nav-right{
    height: 30px;
}

.nav-right a img{
    width: 20px;
    margin: 20px;
}

.nav-right .userIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menuIcon{
    width: 20px;
    margin-right: 30px;
}

.nav-left .logoIconT{
    width: 150px;
    padding-top: 5px;
}

.nav-mid .searchBox{
    border: 1px solid #cccccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-mid .searchBox input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-mid .searchBox img{
    width: 15px;
}

/* input */
input::placeholder{
    color: #b3b2b2; 
}
  
input{
    color: #fff; 
}
  

/* sidebar */
.sidebar{
    background: #3b3b3b;
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 90px;
    box-shadow: 0 0 2px #1c1c1c;
}

.shortcutLinks a img{
    width: 20px;
    margin-right: 20px;
}

.shortcutLinks a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wraps;
}

.shortcutLinks a:first-child{
    padding-top: 4px;
}

/* .shortcutLinks a:first-child p{
    color: #4DAF00;
    padding-top: 4px;
} */

.sidebar hr{
    border: 0;
    height: 1px;
    background-color: #969696;
    width: 85%;
}

.subList h3{
    font-size: 13px;
    margin: 20px 0;
    color: #cccccc;
}
.subList a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subList a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.smallSidebar{
    width: 5%;
}

.smallSidebar a p{
    display: none;
}

.smallSidebar h3{
    display: none;
}

.smallSidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.smallSidebar .subList a img{
    margin-right: 10px;
}


/* ---container--- */
.container {
    background-color: #3b3b3b;
    padding-left: 18%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.largeContainer{
    padding-left: 7%;
}

.listContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 10px;
}


/* ---video information in feed--- */
.vidList
{
    margin-left: 2%;
}

.vidList .thumbnail{
    width: 100%;
    border-radius: 5px;
    height: 70%;
}

.vidList .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.vidInfo a p{
    color: white;
}

.listContainer .vidList .flex-div img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 2%;
}

.vidInfo{
    color: #5a5a5a;
    font-size: 13px;
}

.vidInfo a{
    color: #fff;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}



/* ---------play video page--------- */
.playContainer{
    padding-left: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.playVideo{
    flex-basis: 69%;
    padding-left: 3%;
    padding-right: 2%;
}
.rightSidebar{
    flex-basis: 30%;
}
.playVideo video{
    width: 880px;
    height: 500px;
}

.playVidInfo a p{
    font-weight: 1000;
}


/* ----right sidebar in play video page---- */
.sideVidList{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.sideVidList img{
    width: 100%;
}

.sideVidList .smallThumb{
    flex-basis: 49%;
}

.sideVidList .playVidInfo{
    flex-basis: 47%;
    padding-top: 1%;
}

.playVideo p{
    color: #b3b2b2;
}

/* ----video tags----- */

.tags a p{
    display: inline;
    color: #4DAF00;
    font-size: 13px;
}

.playVideo h3{
    font-weight: 600;
    font-size: 22px;
}

.infoChosenVideo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.infoChosenVideo a img{
    width: 20px;
    margin-right: 8px;
}

.infoChosenVideo a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.hrPlayVid{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div{
    flex: 1;
    line-height: 18px;
}

.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p{
    color: #b3b2b2;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2.5px;
}

.publisher div span{
    font-size: 13px;
    color: #4DAF00;
}

.publisher button{
    background-color: #4DAF00;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}


.vidDescription {
    padding-left: 55px;
    margin: 15px 0;
}

.vidDescription p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #b3b2b2;
}


.playVideo h4{
    font-size: 14px;
    color: #b3b2b2;
    margin-top: 15px;
}


/* ----comments section ----- */
.addComment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.addComment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.addComment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #969696;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}

.oldComment {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.oldComment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.oldComment h3{
    font-size: 14px;
    margin-bottom: 2px; 
}

.oldComment h3 span{
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    margin-left: 8px;
}
.oldComment .answerComment{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.oldComment .answerComment img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.oldComment .answerComment span{
    margin-right: 20px;
    color: #fff;
}

.oldComment .answerComment a{
    color: #4DAF00;
}


/* -----media----- */
@media (max-width: 900px) {
    .menuIcon{
        display: none;
    }
    .sidebar{
        display: none;
    }

    .container{
        padding-left: 5%;
        padding-right: 5%;
    }

    .container .largeContainer{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .userIcon{
        display: block;
        width: 30px;
        margin-left: 0px;
    }
    .nav-mid .searchBox input{
        width: 100px;
        margin-left: 10px;
    }
    .flex-div .nav-left .logoIconT{
        width: 100px;
        height: 50px;
    }

}


@media (max-width: 900px) {
    .playVideo{
        flex-basis: 100%;
    }
    .rightSidebar{
        flex-basis: 100%;
    }
    .playContainer{
        padding-left: 5%;
    }
    .playVideo video{
        width: 100%;
    }

    .infoChosenVideo div a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}



/* ----------admin page style---------------- */
.notForUserPage{
    color: #b3b2b2;
}

/* <--------------UPLOAD BUTTON-----------------> */

#fixedButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4DAF00;
    color: #fff;
    border: none;
    padding: 0px 10px; 
    cursor: pointer;
    border-radius: 20px;
    font-weight: 780;
    font-size: 15px;
    width: 170px;
    height: 50px;
    transition: box-shadow 0.3s ease;
}
#fixedButton:hover {
    box-shadow: 5px 5px 5px  #000000 ; 
}


#popupBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 14;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3b3b;
    padding: 25px 30px;
    border-radius: 8px;
    z-index: 15;
}

.upload-btnVid {
    background-color: #4DAF00;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px 0px 0px 8px;
    font-weight: 600;
}
.upload-btnAud {
    background-color: #4DAF00;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
          font-weight: 600;
}
.upload-btnBook {
    background-color: #4DAF00;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    font-weight: 600;
}

input[type="file"] {
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
/* -------------sidebar in author room studio ---------------- */

.admRoomImg{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 30px;
}

.bigGreen{
    margin-left: 32.5px; 
    color: #4DAF00; 
    font-weight: 600; 
    font-size: 20px;
}

.playAudiobtn{
    transition: transform 0.2s ease-in-out;
}
.playAudiobtn:hover{
    box-shadow: 2px 2px 2px #000000;
    transform: scale(1.15);
}

/* Styles for the notification popup */
.notification-popup {
    position: fixed;
    background-color: #2b2b2b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.35s ease-in-out; 
    top: 70px; 
    right: 25px;
    display: none;
}

.notification-popup:hover {
    background-color: #2b2b2b; 
}
.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #2b2b2b transparent; 
    top: -16px; 
    right: 10px; 
}

.content {
    text-align: left;
    margin: 0; 
}

.popupNote {
    display: block;
    margin: 0; 
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    background: #2b2b2b;
    padding: 8px 0; 
}

.popupNote:hover {
    color: #4DAF00;
}

.sidebarStats{
    padding-top: 15px;
}




/* -------------------------BOOKS PAGE-------------------- */
.readBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4DAF00;
    border-radius: 15px;
}

.readBtn p{
    background-color: #4DAF00;
    color: #000000;
    border-radius: 50px;
    height: 30px;
    font-weight: 600;
    padding-top: 3px;
}

.listContainerBook{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 10px;
}

.bookInfo img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}


/* ----------------------AUDIO----------------- */


#audio-player-container {
    position: relative;
    width: 900px; 
    height: 500px;
}

#audio-player {
    width: 100%;
    height: 100%;
    display: block;
}

#audio-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 25px 25px;
}


/* -----------------------LOGIN FORM----------------- */
.formBox{
    margin: auto;
}



/* -------------------AUTHOR PAGE------------------- */

.bgImg{
    width: 100%;
    height: 250px;
    background: url(/images/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bgImg p{
    color: #000000;
    background-color: #d9d9d9;
    font-size: 40px;
    padding-left: 300px;
}

.authorImg{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /* position: absolute; */
    top: 25%;
    left: 50%;
    transform: translate(-300%, 100%);
    border: #4DAF00 2px solid;
}

.authorImgName{
    /* position: absolute; */
    top: 25%;
    left: 50%;
    transform: translate(-290%, 560%);
}

.lineP{
    margin-top: 110px;
    background-color: #969696;
    width: 100%;
    height: 2px;
}

/* ====================AFTER LINE================= */

.contentType{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 70px; /* Adjust according to your navbar height */
    background-color: #3b3b3b;
    z-index: 100; /* Ensure it's above other elements */
    box-shadow: 0 0 5px #1c1c1c;
}

.contentType p{
    padding-top: 10px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 5px;
    border:transparent;
    cursor: pointer;
}
.contentType p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.contentType a {
    text-decoration: none;
    color: #ccc;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.contentType a.active {
    color: #4DAF00;
}

.contentType hr{
    width: 1px;
    height: 25px;
    margin-top: 1px;
    position: sticky;
    z-index: 100;
}


.audioCC{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 10px;
    padding: 10px 100px;
}

.bookCC{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 10px;
    padding: 10px 100px;
}

.videoCC{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 10px;
    padding: 10px 100px;
}


