{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'icons/logoIcon.png' %}">
</head>
<body>
<style>
        .search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 0 5px 5px 0;
    }
</style>
    <!-- navigation bar -->
    <nav class="flex-div">

        <div class="nav-left flex-div">
            <img src="{% static 'icons/menu.png' %}" class="menuIcon">
            <a href="{% url 'home' %}"><img src="{% static 'icons/logoTransparent.svg' %}" class="logoIconT"></a>
        </div>

        <div class="nav-mid flex-div">
            <div class="searchBox flex-div">
                <form method="get" action="{% url 'book' %}" class="search-form">
                    <input type="text" name="q" placeholder="Let's search!">
                    <button type="submit" class="search-button">
                        <img src="{% static 'icons/search.png' %}" alt="Search">
                    </button>
                </form> 
            </div>
        </div>

        <div class="nav-right flex-div">
            <!-- <img src="icons/notification.png"> -->
            <div class="nav-right flex-div">
                {{ user.username }}    <img id="callPopup" style="margin-left: 10%;" src="{% static 'images/Jack.png' %}" class="userIcon">
            </div>
        </nav>
    
        <!-- -----popup--------- -->
        <div id="notificationPopup" class="notification-popup">
            <div class="arrow"></div>
            <div class="content">
                {% if user.is_authenticated %}
                    {% if user.user_type == 'Moderator' %}
                        <a href="{% url 'admins' %}"><p class="popupNote">Admin Page</p></a>
                        <a href="{% url 'logout' %}"><p class="popupNote">Akkauntdan chiqish</p></a>
                    {% elif user.user_type == 'Content_maker' %}
                        <a href="{% url 'upload' %}"><p class="popupNote">Salam Studio</p></a>
                        <a href="{% url 'logout' %}"><p class="popupNote">Akkauntdan chiqish</p></a>
                    {% elif user.user_type == 'User' %}
                        <a href="{% url 'logout' %}"><p class="popupNote">Akkauntdan chiqish</p></a>
                    {% elif user.user_type == 'U' %}
                        <a href="{% url 'admins' %}"><p class="popupNote">Admin Page</p></a>
                        <a href="{% url 'upload' %}"><p class="popupNote">Salam Studio</p></a>
                        <a href="{% url 'logout' %}"><p class="popupNote">Akkauntdan chiqish</p></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}"><p class="popupNote">Akkauntga kirish</p></a>
                {% endif %}
            </div>
        </div>

    

    <!-- sidebar -->
    <div class="sidebar">
        <div class="shortcutLinks">
            <a href="{% url 'home' %}"> <img src="{% static 'icons/clapperboard.png' %}"> 
            <p>Videolar</p> </a>
            <a href="{% url 'book' %}"> <img src="{% static 'icons/open-bookG.png' %}">
            <p style="color: #4DAF00;">Kitoblar</p> </a>
            <a href="{% url 'audio' %}"> <img src="{% static 'icons/sound-bars.png' %}"> <p>Audiolar</p> </a>
            <hr>
        </div>
    </div>
    <div class="contentType">
        <hr>
        <a href="{% url 'audio' %}" data-content-id="audioCC"><p>Audiolar</p></a>
        <hr>
        <a href="#" data-content-id="bookCC"><p  style="color: #4DAF00;">Kitoblar</p></a>
        <hr>
        <a href="{% url 'home' %}" data-content-id="videoCC"><p>Videolar</p></a>
        <hr>
    </div>


    <!-- -----------main conten------------ -->
    <div class="container">

        <div class="listContainerBook">
            {% if books %}
            {% for i in books %}
                {% if i.book_status == 'PROGRESS' %}

                {% elif i.book_status == 'CANCEL' %}
                {% else %}
                <div class="bookInfo">
                    <img src="{{ i.thumbnail_photo.url }}" class="thumbnail" style="cursor: auto;width: 300px;height: 250px; object-fit: cover;">
                    <h3>{{ i.title }}</h3>
                    <br>
                    <div class="flex-div">
                        <a href="{{ i.book_file.url }}" style="width: 300px" target="_blank" class="readBtn flex-div"><p class="flex-div">Read</p></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <p>Not found!</p>
            {% endif %}
    </div>

    <!-- --------js link-------------- -->
    <script src="{% static 'app.js' %}"></script>
</body>
</html>